<!doctype html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>DHV-CORE</title>

    <link rel="shortcut icon" href="/templates/assets-frontend/images/favicon.ico" type="image/png">

    <link rel="stylesheet" href="/templates/assets-frontend/css/animate.min.css">

    <link rel="stylesheet" href="/templates/assets-frontend/css/bootstrap.min.css">

    <link rel="stylesheet" href="/templates/assets-frontend/css/all.css">

    <link rel="stylesheet" href="/templates/assets-frontend/css/magnific-popup.css">

    <link rel="stylesheet" href="/templates/assets-frontend/css/owl.carousel.min.css">

    <link rel="stylesheet" href="/templates/assets-frontend/css/nice-select.css">

    <link rel="stylesheet" href="/templates/assets-frontend/css/slick.css">

    <link rel="stylesheet" href="/templates/assets-frontend/css/default.css">

    <link rel="stylesheet" href="/templates/assets-frontend/css/style.css">

    <link rel="stylesheet" href="/templates/assets-frontend/css/contact.css">

    <link rel="stylesheet" href="/templates/assets-frontend/css/consultation.css">

    <link rel="stylesheet" href="/templates/assets-frontend/css/library.css">

    <link rel="stylesheet" href="/templates/assets-frontend/css/login.css">

    <link rel="stylesheet" href="/templates/assets-frontend/css/about.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="/templates/assets/css/datatables.min.css">
    <link rel="stylesheet" href="/templates/assets/plugins/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />



</head>
<body>
<div class="page-title bg_cover mt-80 pt-140 pb-140" style="background-image: url(/templates/assets-frontend/images/Media/trangchu/Banner%20ch%C3%ADnh.jpg)" id="page-title">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="page-title-item text-center">
                    <h3 class="title" id="page-title-core">CORE</h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb" id="breadcrumb">
                            </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="course-details-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="course-details-items white-bg">
                    <div class="course-thumb">

                    </div>
                        <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab" id="overview-tab">
                            </div>

                </div>
                <section class="consultation-section">
                    <div class="consultation-wrapper">
                        <div class="expert-info">
                            <div class="expert-avatar">
                                <img src="/templates/uploads/author/1750014015_author.jpg" alt="Expert Avatar">
                            </div>
                            <div class="expert-name">Chuyên gia. A</div>
                        </div>
                        <div class="consultation-content">
                            <p class="consultation-quote">"Bạn đang gặp vấn đề về đồng bộ văn hóa nội bộ như Công ty ABC?"</p>
                            <div class="button-container">
                              <a type="button" class="consultation-button" data-action="modal" data-url="/register-post" data-bs-toggle="modal" data-bs-target=".modal-load">
                                ĐĂNG KÝ TƯ VẤN MIỄN PHÍ CÙNG CHUYÊN GIA</a>
                            </div>
                        </div>
                    </div>
                </section>
                </div>
        </div>
    </div>
</section>
<script src="/templates/assets-frontend/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/templates/assets-frontend/js/vendor/jquery-1.12.4.min.js"></script>

    <script src="/templates/assets-frontend/js/bootstrap.min.js"></script>
    <script src="/templates/assets-frontend/js/popper.min.js"></script>

    <script src="/templates/assets-frontend/js/slick.min.js"></script>

    <script src="/templates/assets-frontend/js/isotope.pkgd.min.js"></script>

    <script src="/templates/assets-frontend/js/imagesloaded.pkgd.min.js"></script>

    <script src="/templates/assets-frontend/js/owl.carousel.min.js"></script>

    <script src="/templates/assets-frontend/js/jquery.nice-select.min.js"></script>

    <script src="/templates/assets-frontend/js/wow.min.js"></script>

    <script src="/templates/assets-frontend/js/jquery.counterup.min.js"></script>

    <script src="/templates/assets-frontend/js/waypoints.min.js"></script>

    <script src="/templates/assets-frontend/js/jquery.magnific-popup.min.js"></script>


    <script src="/templates/assets-frontend/js/ajax-contact.js"></script>
    <script src="/templates/assets/js/sweetalert2.all.min.js"></script>
    <script src="/templates/assets/js/pjax.min.js"></script>
    <script src="/templates/assets/js/topbar.min.js"></script>

    <script src="/templates/assets-frontend/js/main.js"></script>

    <script src="/templates/assets/js/sweetalert2.all.min.js"></script>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="/templates/assets/js/main.js"></script>

    </body>


</html>